#cast-main {
    display: flex;
    flex-direction: column;
    width: 12rem;
    height: 16rem;
    margin-right: 16px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    box-shadow: 4px 4px 8px 0 rgba(76, 75, 75, 0.2);
    
    .cast-img{
        height: 12rem;
        width: 8rem;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }

    .desc-section{
        display: flex;
        flex-direction: column;
        padding: 9px;

        .cast-name {
            font-size: 14px;
            font-weight: bolder;
        }
        .character-name{
            font-size: 13px;
        }
    }

}