#pages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .num-container {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;

        li {
            padding: 16px;
            align-items: center;

            button {
                background-color: lighten($color: $themeColor, $amount: 20%);
                text-align: center;
                color: white;
                width: 24px;
                height: 24px;
                border-radius: 8px;
                border: 0;
            }

            button:hover {
                background-color: $themeColor;
            }

            .notSelected {
                background-color: lighten($color: $themeColor, $amount: 20%);
            }

            .selected {
                background-color: $themeColor;
            }
        }
    }
}