#search-main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 32px 123px 3px 132px;

        .search-input {
            border: 0;
            width: 100%;
            height: 40px;
            padding-left: 12px;
        }

        .search-input:focus {
            outline: none;
        }
    }

    .diveder {
        background-color: rgb(213, 198, 198);
        height: 1px;
        width: 100%;
    }

    .content-section {
        margin: 32px 0 32px 164px;
        display: flex;
        flex-direction: row;

        .filter-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 16px;
            
            .filter-content {
                display: flex;
                flex-direction: column;
                align-items: left;
                border: 1px solid rgb(219, 214, 214);
                border-radius: 16px;
                width: 18rem;
                overflow: hidden;

                .filter-title {
                    color: white;
                    background-color: $themeColor;
                    padding: 24px 0 12px 24px;
                    height: 32px;
                }

                .filter-list {
                    list-style-type: none;
                    

                    #gener-item {
                        padding: 12px;
                    }

                    #gener-item:hover {
                        background-color: lighten($color: $themeColor, $amount: 80%); 
                    }

                    .selectedItem {
                        background-color: lighten($color: $themeColor, $amount: 80%); 
                    }

                    .notSelectedItem {
                        background-color: white; 
                    }
                    
                }
            }
        }

        .result-section {
            display: flex;
            flex-direction: row;
            margin: 16px;
            flex-wrap: wrap;

            .movie-card {
                display: flex;
                flex-direction: row;
            }
        }
    }

    @media (max-width:1100px) {
        .content-section{
            margin: 0;  
        }
            
    }
}