.cardLink {
    text-decoration: none;
    color: black;
}

#trending-main-card {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 10rem;
    height: 24rem;
    padding: 16px;
    margin-top: 16px;
    

    img {
        width: 10rem;
        height: 16rem;
        border-radius: 16px;
        overflow-x: visible;
        box-shadow: 2px 2px 1px   rgba($color: $themeColor, $alpha: 0.6);
    }

    .card-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
        margin-left: 10px;  

        
        .rate-view {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $themeColor;
            margin-bottom: 8px;
            

            .rate-value {
                font-size: 10px;
                font-weight: bold;
                color: white;
            }

            .rate-progress {
                position: absolute;
                width:32px;
                height:32px;
                overflow: visible;

                .background-circle{
                    fill: none;
                }

                .progress-circle{
                    fill: none;
                    stroke-linecap: round;
                }
            }
        }

        .card-title {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 4px;
        }

        .card-date{
            font-size: 14px;
            color: rgb(98, 89, 89);
        }
        
        
    }
}