#trending-main {
    display: flex;
    flex-direction: column;
    margin: 16px 0 0 164px;


    .header-section {
        display: flex;
        flex-direction: row;
        
        h2 {
            padding-right: 16px;
            margin-left: 30px;
        }

        .options-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            overflow: hidden;
            border: 2px solid $themeColor;
            border-radius: 16px;

            .selected {
                text-align: center;
                padding-right: 16px;
                padding-left: 16px;
                font-size: 14px;
                font-weight: bold;
                border: 0;
                background-color: $themeColor;
                color: white;
            }
            
            .notSelected{
                text-align: center;
                padding-right: 16px;
                padding-left: 16px;
                font-size: 14px;
                font-weight: bold;
                border: 0;
                background-color: transparent;
                color: $themeColor;
            }
        }
    }

    .trending-data {
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        overflow-y: hidden;
        background: url('../assets/trending_background.svg');
        background-position: bottom;
        background-repeat: no-repeat;

        .trending-card {
            border-radius: 16px;
            margin: 16px;
        }

        .fadeOutDiv{
            z-index: 1;
            position: absolute;
            background-color: white;
            box-shadow: 0 20px 40px 40px white;
            width: 160px;
            height: 100%;
            right:0;
        }
    }

    .trending-data::-webkit-scrollbar {
        background-color: transparent;
        height: 8px;
    }

    .trending-data::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #e7e2e2;
    }

      

    @media (max-width:1000px) {
        margin: 19px;
    }
}